<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <a href="http://www.developingmusicianship.com/"><em>Developing Musicianship</em></a> is a
  company specialising in the development of musicianship through iPad, iPhone and online
  ear training and theory applications.
  This is the beginnings of an application for the online component.
</p>

