<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Developing Musicianship for information regarding the available 
  music education resources for iPad, iPhone and online applications.
  <a href="http://www.developingmusicianship.com/#contact">contact page</a>.
</p>
