<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help and information on Developing Musicianship products at
  <a href="http://www.developingmusicianship.com/#help">Developing Musicianship help section</a>.
  To discuss any matters directly, contact
  <a href="mailto:markelshout@yahoo.com"><em>Mark Elshout</em>
</a>.
</p>


