<footer class="footer">
  <small>
    <a href="http://www.developingmusicianship.com/">Developing Musicianship</a>
    by <a href="http://www.developingmusicianship.com/">Mark Elshout</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://wwww.developingmusicianship.com/">New Products</a></li>
    </ul>
  </nav>
</footer>